.body {
    background-image: linear-gradient(to bottom right, pink, purple);
}
.xyz {
    
    width:400px;
    height:330px;
    margin-top:200px;
    margin-left:200px;
}

img.usicon {
    margin-left:90px;
    border-radius:100%;
    width:25%;
    text-align: center;
    padding:10px;
   
}
* {box-sizing: border-box;
}


.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.icon {
    padding: 10px;
    background: rgba(219, 27, 178, 0.705);
    color:white ;
    min-width: 70px;
    text-align: center;
    
}
  
  .field {
    padding: 10px;
    }

.button {
    background:tomato;
    color:white;
    text-align-left:40px;
    width:80px;
    padding:5px;
    margin-bottom: 10px;
}
  
  


 
 