<style>
input[type=text]{
margin-top:4px;
background:red;
color:gray;
}
input[type=password]{

background-color:lightgray;
color:gray;
margin-top:4px;

}
input[type=checkbox]{
margin-top:4px;
background-color:red;
}
input[type=button]{
margin-top:4px;
color:white;
background-color:purple;
}
</style>